@page "{id:int?}"
@model RazorPagesPlayer.Pages.Players.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Team)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Team)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.KDA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.KDA)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Player.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
